html {
  /*Core color codes------global color codes #224C98 */
  --themeColor: #207ef5; /*#207ef5;*/
  /* #224C98;/*#207ef5;/* #224C98;/*#263c63;/* #1b3d7a;#4285F4*/
  --deepDarkThemeTextColor: #1b1e24; /*#29303d;/*#132545;/*#0e1c36;*/
  --greyTextColor: #5e5d5d;
  --cardBorderColor: #d3d3d3;
  --cardBorderColorLight: #e8e8e8;
  --greenColor1: #65c394;
  --redColor1: #ff726f;
  --chatCommentBkgColor: #e3effe;
  --bodyBkgColor: #f2f2f2;
}

.contactTitleDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bodyBkgColor);
}

.topbox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  border: 1px solid var(--cardBorderColor);
  border-radius: 4px;
}

.insLogo {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.insName {
    margin-left: 10px;
    color: var(--deepDarkThemeTextColor);
    font-weight: bold;
}

.contactNu {


}

.mainContainer {
  margin-top: 20px;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
