html {
  /*Core color codes------global color codes #224C98 */
  --themeColor: #207ef5; /*#207ef5;*/
  /* #224C98;/*#207ef5;/* #224C98;/*#263c63;/* #1b3d7a;#4285F4*/
  --deepDarkThemeTextColor: #1b1e24; /*#29303d;/*#132545;/*#0e1c36;*/
  --greyTextColor: #5e5d5d;
  --cardBorderColor: #d3d3d3;
  --cardBorderColorLight: #e8e8e8;
  --greenColor1: #65c394;
  --redColor1: #ff726f;
  --chatCommentBkgColor: #e3effe;
  --bodyBkgColor: #f2f2f2;
}

.parentClass {
  width: 100%;

  border-right: 1px solid var(--cardBorderColorLight);
  display: flex;
  background-color: var(--bodyBkgColor);
  border-bottom: 1px solid var(--cardBorderColor);
}


.nameContainer{

  width: 40%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.rolwContainer{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateContainer{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.statusContainer{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}

